services:

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    image: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_files:/var/www/wordpress
      - ./requirements/nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always
    env_file:
      - .env

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    image: mariadb
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
    secrets:
      - db_root_password
      - db_password
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    image: wordpress
    networks:
      - inception
    volumes:
      - wordpress_files:/var/www/wordpress
    environment:
      WP_TITLE: ${WP_TITLE}
      WP_USER_NAME: ${WP_USER_NAME}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
      WP_ADMIN: ${WP_ADMIN}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}

      WP_DATABASE: ${MYSQL_DATABASE}
      WP_DATABASE_USER: ${MYSQL_USER}
      WP_URL: ${DOMAIN_NAME}
      MYSQL_HOST: mariadb
    secrets:
      - wp_admin_password
      - wp_user_password
      - db_password
    restart: always


volumes:
  wordpress_files:
    driver: local
    driver_opts:
      type: none
      device: /home/ndabbous/data/wordpress
      o: bind

  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/ndabbous/data/mariadb
      o: bind

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt
  wp_admin_password:
    file: ../secrets/wp_admin_password.txt
  wp_user_password:
    file: ../secrets/wp_user_password.txt

networks:
  inception:
    name: inception
    driver: bridge
