services:

  nginx:
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_files:/var/www/wordpress
    networks:
      - inception
    # depends_on:
    #   - wordpress
    restart: always
    env_file:
      - .env

  mariadb:
    build: ./requirements/mariadb
    container_name: mariadb
    networks:
      - inception
    volumes:
      - mariadb_data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      # MYSQL_PASSWORD_FILE: /run/secrets/db_password.txt
      # MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password.txt
    secrets:
      - db_root_password
      - db_password    
    restart: always

  wordpress:
    build: ./requirements/wordpress
    container_name: wordpress
    networks:
      - inception
    volumes:
      - wordpress_files:/var/www/wordpress
    environment:
      WP_TITLE: ${WP_TITLE}
      WP_USER: ${WP_USER}
      WP_ADMIN: ${WP_ADMIN}

      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_HOST: mariadb
      WP_URL: ${DOMAIN_NAME}
      # WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
    # secrets:
    #   - wp_admin_password
    #   - wp_user_password
    #   - db_password
    restart: always


volumes:
  wordpress_files:
    driver: local
    driver_opts:
      type: none
      device: /home/ndabbous/data/wordpress
      o: bind

  mariadb_data:
    driver: local
    driver_opts:
      type: none
      device: /home/ndabbous/data/mariadb
      o: bind

secrets:
  db_root_password:
    file: ../secrets/db_root_password.txt
  db_password:
    file: ../secrets/db_password.txt

networks:
  inception:
    driver: bridge
